.buttonContainer{
  margin: 10px;
  margin-left: 0px;
 justify-items: center;

}
.cadastrarCursoButton,
.cadastrarDisciplinaButton,
.cadastrarAulaButton {
  display:inline-flex;

  background: #08624C;
  padding: 0px 80px;
  align-items: center;
  justify-items: center;  
    border-radius: 10px;
  
    margin-left: 30px;
    border:none;
    font: medium;
    font-size: 16px;
    color:#ffff;
    cursor: pointer;

   
  
}
  .buttonIcon{
    margin: 15px;
 }
 
  .buttonIcon1{
    margin: 15px;
  }
  
  .buttonIcon2{
    margin: 15px;
}
