

.botao-novo {
    width: 17.85vh; 
    height: 4vh;
    background-color: #096E46;
    color: #fff;
    border: none;
    border-radius: 5vh;
    font-size: 1.63vh;
    cursor: pointer;
    margin-right: 1.02vh; 
  }
  
  .botao-novo:hover {
    background-color: #1b9626d8;

  }
  
  