
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* css para a tela do menu lateral ADM */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
 
}

:root {
  /* fonts */
  --font-poppins:Poppins;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-gray: #0d1216;
  --color-gainsboro-100: #dedede;
  --color-gainsboro-200: #d9d9d9;
  --color-darkgray: #9a9a9a;
  --color-dimgray: #6d6b6b;

  /* Gaps */
  --gap-smi: 13px;
  --gap-xs: 12px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-mini: 15px;
  --padding-60xl: 79px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
}