.component7Child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-gray-200);
  }
  .userIcon,
  .userIcon1 {
    position: absolute;
    margin: 0 !important;
    top: 15px;
    left: 18.96px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
  }
  .userIcon1 {
    z-index: 1;
  }
  .cadastrarUsurio {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: -0.02em;
    line-height: 22px;
  }
  .cadUsuarioChild,
  .cadastrarUsurioWrapper {
    position: absolute;
    margin: 0 !important;
    top: 17px;
    left: 56.96px;
    width: 142px;
    height: 22px;
    z-index: 2;
  }
  .cadUsuarioChild {
    top: 19.5px;
    left: 210.5px;
    width: 9.09px;
    height: 14.67px;
    z-index: 3;
  }
  .cadUsuario {
    position: absolute;
    height: 6.07%;
    width: 91.44%;
    top: 11.92%;
    right: 3.89%;
    bottom: 82.01%;
    left: 4.67%;
    background-color: var(--color-gray-200);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-60xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xs);
  }
  .cadCursoChild,
  .cadastrarCursoWrapper {
    position: absolute;
    margin: 0 !important;
    top: 17px;
    left: 56.96px;
    width: 129px;
    height: 22px;
    z-index: 0;
  }
  .cadCursoChild {
    top: 19.5px;
    left: 210.5px;
    width: 9.09px;
    height: 14.67px;
    z-index: 1;
  }
  .cadCurso {
    position: absolute;
    height: 6.07%;
    width: 91.44%;
    top: 17.76%;
    right: 3.89%;
    bottom: 76.17%;
    left: 4.67%;
    background-color: var(--color-gray-200);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-60xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xs);
  }
  .avisoChild,
  .bellIcon,
  .cadastrarAvisosWrapper {
    position: absolute;
    margin: 0 !important;
    top: 16px;
    left: 56.96px;
    width: 132px;
    height: 22px;
    z-index: 0;
  }
  .avisoChild,
  .bellIcon {
    top: 18.5px;
    left: 210.5px;
    width: 9.09px;
    height: 14.67px;
    z-index: 1;
  }
  .bellIcon {
    top: 16px;
    left: 19px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
  }
  .aviso {
    height: 6.31%;
    width: 91.44%;
    top: 23.83%;
    right: 3.89%;
    bottom: 69.86%;
    left: 4.67%;
    background-color: var(--color-gray-200);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-60xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xs);
  }
  .aviso,
  .icon,
  .incio {
    position: absolute;
  }
  .icon {
    top: 6.5px;
    left: 189.5px;
    width: 9.09px;
    height: 14.67px;
  }
  .incio {
    top: 2px;
    left: 38px;
    letter-spacing: -0.02em;
    line-height: 22px;
  }
  .iconHome {
    position: absolute;
    height: 100%;
    width: 12.18%;
    top: 0;
    right: 87.82%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .iconParent {
    position: relative;
    width: 197.09px;
    height: 24px;
  }
  .inicioMenuAdm,
  .vectorIcon {
    position: absolute;
    overflow: hidden;
  }
  .inicioMenuAdm {
    height: 6.07%;
    width: 91.44%;
    top: 5.84%;
    right: 3.89%;
    bottom: 88.08%;
    left: 4.67%;
    background-color: var(--color-gray-200);
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-60xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .vectorIcon {
    height: 2.8%;
    width: 9.34%;
    top: 19.51%;
    right: 78.6%;
    bottom: 77.69%;
    left: 12.06%;
    max-width: 100%;
    max-height: 100%;
  }
  .sair1 {
    margin: 0 !important;
    top: 18px;
    left: 72.07px;
    letter-spacing: -0.02em;
    line-height: 22px;
    font-weight: 600;
    z-index: 0;
  }
  .icon1,
  .sair,
  .sair1 {
    position: absolute;
  }
  .icon1 {
    margin: 0 !important;
    top: 16px;
    left: 19.93px;
    width: 26px;
    height: 26px;
    z-index: 1;
  }
  .sair {
    height: 6.13%;
    width: 91.44%;
    top: 84.93%;
    right: 3.89%;
    bottom: 8.94%;
    left: 4.67%;
    background-color: var(--color-gray-200);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-60xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xs);
  }
  .component7 {
    width: 257px;
    height: 856px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  