.cadastrarCursoChild {
    position: absolute;
    top: 0;
    left: 1316px;
    background-color: var(--color-whitesmoke-100);
    width: 124px;
    height: 122px;
  }
  .designSemNome1,
  .designSemNome11 {
    position: absolute;
    top: 71px;
    left: 143px;
    width: 1155px;
    height: 882px;
    object-fit: cover;
    display: none;
  }
  .designSemNome11 {
    top: 76px;
    left: 207px;
  }
  .cadastrarCursoItem {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 var(--br-xl) var(--br-xl) 0;
    background-color: var(--color-gray-200);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 257px;
    height: 1024px;
  }
  .cadastrarCursoInner,
  .groupChild {
    position: absolute;
    left: 0;
    width: 257px;
    height: 54px;
  }
  .groupChild {
    top: 0;
    background-color: var(--color-gray-100);
  }
  .cadastrarCursoInner {
    top: 144px;
    display: none;
  }
  .groupDiv,
  .pesquisarChild {
    position: absolute;
    top: 404px;
    left: -1px;
    width: 257px;
    height: 54px;
  }
  .pesquisarChild {
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: #dedede;
    width: 552px;
    height: 41px;
  }
  .pesquisar1 {
    position: absolute;
    top: 7px;
    left: 41.03px;
    display: flex;
    align-items: center;
    width: 105.43px;
    height: 28px;
  }
  .search1Icon {
    position: absolute;
    top: 11px;
    left: 511.15px;
    width: 20.95px;
    height: 20px;
    object-fit: cover;
  }
  .pesquisar {
    position: absolute;
    top: 56px;
    left: 682px;
    width: 552px;
    height: 41px;
    font-size: 18px;
    color: #6d6b6b;
    font-family: var(--font-roboto);
  }
  .lineDiv {
    position: absolute;
    top: 121.5px;
    left: 256.5px;
    border-top: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 1181px;
    height: 1px;
  }
  .logoIcon {
    position: absolute;
    top: 11px;
    left: 32px;
    width: 158px;
    height: 137px;
    object-fit: cover;
  }
  .eu1Icon,
  .perfilChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .perfilChild {
    border-radius: 50%;
    background-color: var(--color-gainsboro-200);
  }
  .eu1Icon {
    border-radius: 50px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .perfil {
    position: absolute;
    top: 63px;
    left: 1347px;
    width: 36px;
    height: 36px;
  }
  .cadastrarCursoChild1 {
    position: absolute;
    height: 3.71%;
    width: 0.14%;
    top: 6.05%;
    right: 8.54%;
    bottom: 90.23%;
    left: 91.32%;
    border-right: 2px solid var(--color-darkgray);
    box-sizing: border-box;
  }
  .cursos {
    position: absolute;
    top: 65px;
    left: 294px;
    font-size: 30px;
    font-weight: 600;
    color: var(--color-darkslategray-100);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 41px;
  }
  .botaocadastrarcursoChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--primary);
    width: 274px;
    height: 48px;
  }
  .zondiconsaddOutline {
    position: absolute;
    height: 41.67%;
    width: 7.3%;
    top: 29.17%;
    right: 81.39%;
    bottom: 29.17%;
    left: 11.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .botaocadastrarcurso {
    position: absolute;
    top: 173px;
    left: 318px;
    width: 274px;
    height: 48px;
    color: var(--color-white);
  }
  .filtrarcursoChild,
  .filtrarcursoItem {
    position: absolute;
    background-color: var(--color-white);
    box-sizing: border-box;
  }
  .filtrarcursoChild {
    top: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #096e46;
    width: 998px;
    height: 203px;
  }
  .filtrarcursoItem {
    top: 97px;
    left: 65px;
    border-radius: var(--br-8xs);
    border: 1px solid var(--gray-dark);
    width: 738px;
    height: 40px;
  }
  .digiteOId {
    position: absolute;
    top: 79px;
    left: 68px;
    display: inline-block;
    width: 318px;
  }
  .botaofiltrarChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--primary);
    width: 132.25px;
    height: 40px;
  }
  .filtrar {
    position: absolute;
    top: 14.07px;
    left: calc(50% - 20.65px);
    line-height: 100%;
    display: inline-block;
    width: 59.96px;
    height: 11.85px;
  }
  .botaofiltrar {
    position: absolute;
    top: 97px;
    left: 828.23px;
    width: 132.25px;
    height: 40px;
    font-size: var(--font-size-base);
    color: var(--color-white);
  }
  .digiteAquiO,
  .filtros {
    position: absolute;
    display: inline-block;
  }
  .filtros {
    top: 48px;
    left: calc(50% - 433px);
    font-size: var(--font-size-base);
    line-height: 100%;
    color: var(--color-gray-100);
    width: 60px;
  }
  .digiteAquiO {
    top: 110px;
    left: 80px;
    color: var(--secondary);
    width: 211px;
  }
  .filtrarcurso {
    position: absolute;
    top: 257px;
    left: 318px;
    width: 998px;
    height: 203px;
    font-size: var(--inter-size);
    font-family: var(--inter);
  }
  .cadastrarCursoChild2,
  .rectangleDiv {
    position: absolute;
    left: 1357px;
    width: 8px;
  }
  .rectangleDiv {
    top: 257px;
    background-color: var(--color-gainsboro-200);
    height: 606px;
  }
  .cadastrarCursoChild2 {
    top: 742px;
    border-radius: 0 0 var(--br-3xs) var(--br-3xs);
    background-color: #25d691;
    height: 164px;
  }
  .cadastrarAula {
    position: absolute;
    top: 17px;
    left: calc(50% - 54px);
    line-height: 100%;
    font-weight: 500;
    display: inline-block;
    width: 168px;
    height: 14px;
  }
  .botaocadastraraula {
    position: absolute;
    top: 173px;
    left: 682px;
    width: 274px;
    height: 48px;
    color: var(--color-white);
  }
  .filtrocursoChild,
  .filtrocursoItem {
    position: absolute;
    top: 0;
    left: 1px;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    width: 997px;
    height: 383px;
  }
  .filtrocursoItem {
    height: 12.27%;
    width: 99.9%;
    right: 0;
    bottom: 87.73%;
    left: 0.1%;
    border-radius: var(--br-3xs) var(--br-3xs) 0 0;
    background-color: var(--primary);
  }
  .curso,
  .disciplina,
  .mdulo {
    position: absolute;
    height: 4.96%;
    width: 8.62%;
    top: 4.44%;
    left: 49.2%;
    font-size: var(--font-size-base);
    line-height: 100%;
    display: inline-block;
    font-family: var(--inter);
    color: var(--color-white);
  }
  .curso,
  .disciplina {
    left: 68.24%;
  }
  .curso {
    left: 26.25%;
  }
  .filtrocursoInner {
    position: absolute;
    height: 12.27%;
    width: 99.9%;
    top: 12.27%;
    right: 0;
    bottom: 75.46%;
    left: 0.1%;
    background-color: var(--color-gainsboro-100);
  }
  .ano,
  .ensinoMdio {
    position: absolute;
    top: 65px;
    left: 249px;
    line-height: 100%;
  }
  .ano {
    top: 64px;
    left: 486px;
  }
  .filtrocursoChild1,
  .filtrocursoChild2,
  .filtrocursoChild3 {
    position: absolute;
    height: 12.27%;
    width: 99.9%;
    top: 36.81%;
    right: 0;
    bottom: 50.91%;
    left: 0.1%;
    background-color: var(--color-gainsboro-100);
  }
  .filtrocursoChild2,
  .filtrocursoChild3 {
    top: 61.36%;
    bottom: 26.37%;
  }
  .filtrocursoChild3 {
    top: 49.09%;
    bottom: 38.64%;
    background-color: var(--color-white);
  }
  .ano1,
  .div,
  .ensinoMdio1,
  .funoAfim {
    position: absolute;
    top: 209px;
    left: 250px;
    line-height: 100%;
  }
  .ano1,
  .div,
  .funoAfim {
    left: 487px;
  }
  .div,
  .funoAfim {
    left: 673px;
  }
  .div {
    left: 15px;
  }
  .edit2Icon,
  .eyeIcon,
  .trash2Icon {
    position: absolute;
    height: 4.18%;
    width: 1.6%;
    top: 54.57%;
    right: 8.42%;
    bottom: 41.25%;
    left: 89.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .edit2Icon,
  .trash2Icon {
    right: 2.61%;
    left: 95.79%;
  }
  .edit2Icon {
    top: 54.83%;
    right: 5.41%;
    bottom: 40.99%;
    left: 92.99%;
  }
  .div1 {
    position: absolute;
    top: 209px;
    left: 127px;
    line-height: 100%;
  }
  .filtrocursoChild4 {
    position: absolute;
    height: 12.27%;
    width: 99.9%;
    top: 24.54%;
    right: 0;
    bottom: 63.19%;
    left: 0.1%;
    background-color: var(--color-white);
  }
  .geometriaPlana {
    position: absolute;
    top: 64px;
    left: 672px;
    line-height: 100%;
  }
  .div2 {
    top: 64px;
    left: 14px;
  }
  .ano2,
  .data,
  .div2,
  .ensinoMdio2 {
    position: absolute;
    line-height: 100%;
  }
  .data {
    height: 4.96%;
    width: 10.92%;
    top: 4.18%;
    left: 1.9%;
    font-size: var(--font-size-base);
    display: inline-block;
    font-family: var(--inter);
    color: var(--color-white);
  }
  .ano2,
  .ensinoMdio2 {
    top: 107px;
    left: 251px;
  }
  .ano2 {
    left: 488px;
  }
  .ano3,
  .div3,
  .div4,
  .ensinoMdio3,
  .estatstica,
  .grficos {
    position: absolute;
    top: 107px;
    left: 674px;
    line-height: 100%;
  }
  .ano3,
  .div3,
  .div4,
  .ensinoMdio3,
  .grficos {
    left: 16px;
  }
  .ano3,
  .div4,
  .ensinoMdio3,
  .grficos {
    top: 154px;
    left: 251px;
  }
  .ano3,
  .div4,
  .grficos {
    left: 488px;
  }
  .div4,
  .grficos {
    left: 674px;
  }
  .div4 {
    left: 16px;
  }
  .edit2Icon1,
  .edit2Icon2,
  .edit2Icon3,
  .eyeIcon1,
  .eyeIcon2,
  .eyeIcon3,
  .trash2Icon1,
  .trash2Icon2,
  .trash2Icon3 {
    position: absolute;
    height: 4.18%;
    width: 1.6%;
    top: 15.93%;
    right: 8.32%;
    bottom: 79.9%;
    left: 90.08%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .edit2Icon1,
  .edit2Icon2,
  .edit2Icon3,
  .eyeIcon2,
  .eyeIcon3,
  .trash2Icon1,
  .trash2Icon2,
  .trash2Icon3 {
    right: 2.51%;
    left: 95.89%;
  }
  .edit2Icon1,
  .edit2Icon2,
  .edit2Icon3,
  .eyeIcon2,
  .eyeIcon3,
  .trash2Icon2,
  .trash2Icon3 {
    top: 16.19%;
    right: 5.31%;
    bottom: 79.63%;
    left: 93.09%;
  }
  .edit2Icon2,
  .edit2Icon3,
  .eyeIcon2,
  .eyeIcon3,
  .trash2Icon2,
  .trash2Icon3 {
    top: 28.2%;
    right: 8.32%;
    bottom: 67.62%;
    left: 90.08%;
  }
  .edit2Icon2,
  .edit2Icon3,
  .eyeIcon3,
  .trash2Icon2,
  .trash2Icon3 {
    right: 2.51%;
    left: 95.89%;
  }
  .edit2Icon2,
  .edit2Icon3,
  .eyeIcon3,
  .trash2Icon3 {
    top: 28.46%;
    right: 5.31%;
    bottom: 67.36%;
    left: 93.09%;
  }
  .edit2Icon3,
  .eyeIcon3,
  .trash2Icon3 {
    top: 40.21%;
    right: 8.32%;
    bottom: 55.61%;
    left: 90.08%;
  }
  .edit2Icon3,
  .trash2Icon3 {
    right: 2.51%;
    left: 95.89%;
  }
  .edit2Icon3 {
    top: 40.47%;
    right: 5.31%;
    bottom: 55.35%;
    left: 93.09%;
  }
  .aes {
    position: absolute;
    height: 4.96%;
    width: 8.62%;
    top: 4.96%;
    left: 91.38%;
    font-size: var(--font-size-base);
    line-height: 100%;
    display: inline-block;
    font-family: var(--inter);
    color: var(--color-white);
  }
  .filtrocursoChild5,
  .filtrocursoChild6 {
    position: absolute;
    height: 12.27%;
    width: 99.9%;
    top: 73.63%;
    right: 0.1%;
    bottom: 14.1%;
    left: 0;
    background-color: var(--color-white);
  }
  .filtrocursoChild6 {
    top: 85.9%;
    right: 0;
    bottom: 1.83%;
    left: 0.1%;
    background-color: var(--color-gainsboro-100);
  }
  .div5 {
    top: 64px;
    left: 126px;
  }
  .div5,
  .div6,
  .div7,
  .id {
    position: absolute;
    line-height: 100%;
  }
  .id {
    height: 4.96%;
    width: 10.92%;
    top: 4.18%;
    left: 13.13%;
    font-size: var(--font-size-base);
    display: inline-block;
    font-family: var(--inter);
    color: var(--color-white);
  }
  .div6,
  .div7 {
    top: 107px;
    left: 128px;
  }
  .div7 {
    top: 154px;
  }
  .ano4,
  .div8,
  .ensinoMdio4,
  .funoQuadrtica {
    position: absolute;
    top: 254px;
    left: 250px;
    line-height: 100%;
  }
  .ano4,
  .div8,
  .funoQuadrtica {
    left: 487px;
  }
  .div8,
  .funoQuadrtica {
    left: 673px;
  }
  .div8 {
    left: 15px;
  }
  .edit2Icon4,
  .eyeIcon4,
  .trash2Icon4 {
    position: absolute;
    height: 4.18%;
    width: 1.6%;
    top: 66.32%;
    right: 8.42%;
    bottom: 29.5%;
    left: 89.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .edit2Icon4,
  .trash2Icon4 {
    right: 2.61%;
    left: 95.79%;
  }
  .edit2Icon4 {
    top: 66.58%;
    right: 5.41%;
    bottom: 29.24%;
    left: 92.99%;
  }
  .div9 {
    position: absolute;
    top: 254px;
    left: 127px;
    line-height: 100%;
  }
  .filtrocurso {
    position: absolute;
    top: 528px;
    left: 318px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 998px;
    height: 383px;
    font-size: var(--font-size-sm);
  }
  .cadastrarCursoChild3 {
    position: absolute;
    top: 0;
    left: 258px;
    background-color: rgba(217, 217, 217, 0.9);
    width: 1182px;
    height: 1024px;
  }
  .component11Child,
  .groupInner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .component11Child {
    background-color: var(--color-white);
    border: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
  }
  .groupInner {
    border-radius: var(--br-8xs);
    background-color: var(--primary);
  }
  .cancelar,
  .rectangleParent {
    position: absolute;
    width: 51.52%;
    top: 25.71%;
    left: 31.44%;
    display: inline-block;
  }
  .rectangleParent {
    height: 19.44%;
    width: 17.42%;
    top: 53.33%;
    right: 7.77%;
    bottom: 27.22%;
    left: 74.81%;
    display: none;
    font-size: var(--inter-size);
    color: var(--gray);
  }
  .component11Item {
    position: absolute;
    height: 20.04%;
    width: 42.27%;
    top: 25.69%;
    right: 6.35%;
    bottom: 54.27%;
    left: 51.38%;
    border-radius: 4.51px;
    background-color: var(--color-white);
    border: 0.9px solid var(--gray-dark);
    box-sizing: border-box;
    display: none;
  }
  .marcosMatos,
  .nomeDoProfesor {
    position: absolute;
    top: 16.67%;
    left: 51.72%;
    display: none;
  }
  .marcosMatos {
    top: 32.2%;
    left: 53.41%;
    color: var(--color-darkslategray-200);
  }
  .component11Inner {
    position: absolute;
    height: 20.04%;
    width: 42.27%;
    top: 26.24%;
    right: 52.97%;
    bottom: 53.71%;
    left: 4.76%;
    border-radius: 4.51px;
    background-color: var(--color-white);
    border: 0.9px solid var(--gray-dark);
    box-sizing: border-box;
    display: none;
  }
  .nomeDaDisciplina {
    position: absolute;
    top: 17.22%;
    left: 5.1%;
    display: none;
  }
  .matemtica {
    top: 32.76%;
    left: 7.8%;
    color: var(--color-darkslategray-200);
  }
  .ativo,
  .component11Child1,
  .matemtica {
    position: absolute;
    display: none;
  }
  .component11Child1 {
    height: 10%;
    width: 2.26%;
    top: 62.78%;
    right: 92.11%;
    bottom: 27.22%;
    left: 5.64%;
    background-color: var(--color-white);
    border: 1px solid var(--secondary);
    box-sizing: border-box;
  }
  .ativo {
    top: 64.44%;
    left: 8.9%;
    font-size: var(--inter-size);
  }
  .rectangleGroup,
  .salvar {
    position: absolute;
    width: 35.35%;
    top: 25.71%;
    left: 35.48%;
    display: inline-block;
  }
  .rectangleGroup {
    height: 19.44%;
    width: 17.42%;
    top: 53.33%;
    right: 31.2%;
    bottom: 27.22%;
    left: 51.38%;
    display: none;
    font-size: var(--inter-size);
    color: var(--gray);
  }
  .component11,
  .componentChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .componentChild {
    border: 0.9px solid var(--gray-dark);
    background-color: var(--color-white);
    height: 13.22%;
    width: 41.34%;
    top: 66.02%;
    right: 53.39%;
    bottom: 20.76%;
    left: 5.27%;
    border-radius: 4.51px;
    box-sizing: border-box;
  }
  .componentItem,
  .professor {
    position: absolute;
    top: 60.07%;
    left: 5.6%;
  }
  .componentItem {
    border: 0.9px solid var(--gray-dark);
    background-color: var(--color-white);
    height: 13.22%;
    width: 41.34%;
    top: 45.14%;
    right: 7.8%;
    bottom: 41.64%;
    left: 50.86%;
    border-radius: 4.51px;
    box-sizing: border-box;
  }
  .componentInner,
  .mdulo1 {
    position: absolute;
    top: 39.19%;
    left: 51.19%;
  }
  .componentInner {
    border: 0.9px solid var(--gray-dark);
    background-color: var(--color-white);
    height: 13.22%;
    width: 41.34%;
    top: 22.43%;
    right: 7.8%;
    bottom: 64.35%;
    left: 50.86%;
    border-radius: 4.51px;
    box-sizing: border-box;
  }
  .nivel {
    position: absolute;
    top: 16.48%;
    left: 51.19%;
  }
  .rectangleTextarea {
    border: 0.9px solid var(--gray-dark);
    background-color: var(--color-white);
    position: absolute;
    height: 13.22%;
    width: 41.34%;
    top: 22.8%;
    right: 53.39%;
    bottom: 63.99%;
    left: 5.27%;
    border-radius: 4.51px;
    box-sizing: border-box;
  }
  .cancelar1,
  .nomeDoCurso {
    position: absolute;
    top: 16.85%;
    left: 5.6%;
  }
  .cancelar1 {
    width: 51.52%;
    top: 25.71%;
    left: 31.44%;
    font-size: var(--inter-size);
    font-family: var(--inter);
    color: var(--gray);
    text-align: left;
    display: inline-block;
  }
  .botaocancelar {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 12.82%;
    width: 17.03%;
    top: 81.68%;
    right: 7.84%;
    bottom: 5.49%;
    left: 75.12%;
  }
  .salvar1 {
    position: absolute;
    width: 35.35%;
    top: 25.71%;
    left: 35.48%;
    font-size: var(--inter-size);
    font-family: var(--inter);
    color: var(--gray);
    text-align: left;
    display: inline-block;
  }
  .botaosalvar {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 12.82%;
    width: 17.03%;
    top: 81.68%;
    right: 30.76%;
    bottom: 5.49%;
    left: 52.21%;
  }
  .rectangleInput {
    position: absolute;
    height: 6.59%;
    width: 2.21%;
    top: 67.03%;
    right: 46.94%;
    bottom: 26.37%;
    left: 50.86%;
    background-color: var(--color-white);
    border: 1px solid var(--secondary);
    box-sizing: border-box;
  }
  .ativo1 {
    position: absolute;
    top: 68.13%;
    left: 54.04%;
    font-size: var(--inter-size);
  }
  .componentChild1 {
    border: 0.9px solid var(--gray-dark);
    background-color: var(--color-white);
    position: absolute;
    height: 13.22%;
    width: 41.34%;
    top: 44.41%;
    right: 53.51%;
    bottom: 42.38%;
    left: 5.15%;
    border-radius: 4.51px;
    box-sizing: border-box;
  }
  .disciplina1 {
    position: absolute;
    top: 38.46%;
    left: 5.48%;
  }
  .component11Parent {
    position: absolute;
    top: 353px;
    left: 460px;
    width: 816px;
    height: 273px;
    font-size: 10.82px;
    font-family: var(--inter);
  }
  .cadastrarCurso {
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-whitesmoke-100);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  