.formulario{
    margin-left:300px;
    width: 1310px;
    height: 80px;
    padding: 40px;
    border: 1px solid #08624C;
    font-size: 16px;
    color: #323232;
}
.formfiltro{
    margin-top: 0px;
    padding: 0px;
    width: 10px;
    height: 10px;
  

}
.filtro{
    border-radius: 5px;
    padding: 15px 430px;
    border: 1px solid #484848;
    text-align: justify;



}
.filtrarButton{
    margin-left: 30px;
    padding: 15px 60px;
    background-color: #08624C;
    border-radius: 5px;
    font-size: 16px;
    color: #ffff;
    cursor: pointer;

}
.subtitulo{
    
    font-size: 12px;
}


