.incio {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-base);
    letter-spacing: -0.02em;
    line-height: 22px;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
  }
  .cadUsuarioChild,
  .incioWrapper {
    position: absolute;
    margin: 0 !important;
    top: 17px;
    left: 56.96px;
    width: 41px;
    height: 22px;
    z-index: 0;
  }
  .cadUsuarioChild {
    top: 19.5px;
    left: 210.5px;
    width: 9.09px;
    height: 14.67px;
    z-index: 1;
  }
  .cadUsuario,
  .iconHome {
    position:absolute;
    overflow: hidden;
  }
  .iconHome {
    margin: 0 !important;
    height: 46.15%;
    width: 10.21%;
    top: 26.92%;
    right: 81.72%;
    bottom: 26.92%;
    left: 8.07%;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
  }
  .cadUsuario {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) var(--padding-60xl);
    background-color: var(--color-gray-200);
    height: 5.08%;
    width: 16.32%;
    top: 17.97%;
    right: 82.92%;
    bottom: 76.95%;
    left: 0.76%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-3xs);
  }
  