   .barrarolagem {
    position: absolute;
    top: 280px;
    left: 1750px;
    background-color: #D9D9D9;
    width: 8px;
    height: 606px;
    
  }
  .barrarolagemChild {
    position: absolute;
    top: 0px;
    left:1px;
    border-radius: 0px;
    background-color: #25d691;
    width: 8px;
    height: 164px;
   
  }
