.tabela{
    display: flex;
    flex-direction: column;
    width: 98.36vh;
    text-align: center;
}

.h1{
    padding: 5px;
    background-color: #08624C;
    color: #ffffff;
    border: 1px, 0px solid;
    border-radius: 4px;
}

.table {
    table-layout: fixed;
    width: 100%; /* Defina a largura da tabela para 100% para ocupar todo o espaço disponível */
    border-collapse: collapse; /* Para mesclar as bordas das células */
    border: 0.5px solid;
    border-color: #08624C;
}

.table tr:nth-child(even) {
    background-color: #DEEAE5;
}
  

.table tr:nth-child(odd) {
    background-color: #ffffff;
}

.table tr:hover{
    background-color: #b3e7da;
}
  
.pdfs {
    padding-left: 3vh;
    position: relative;
    align-items: center;
    width: 98.36vh;
    height: 60px;
    display: flex;
    text-align:left;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2vh;
    font-weight: 400;
    text-align: center;
}

.iconAdobe{
    padding-right: 1%;
    max-width: 24px;
    height: 24px;
}